<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>后台管理中心</title>
    <link href="__STATIC__/admin/css/public.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/admin/css/bootstrap.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="__STATIC__/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/global.js"></script>
</head>
<body>
<div id="dcWrap">
       {include file="public/header"}
    <!-- dcHead 结束 -->
   {include file="public/menu"}

    <div id="dcMain"> <!-- 当前位置 -->
        <div id="urHere">网站后台管理中心</div>  
        <div id="index" class="mainBox" style="padding-top:18px;height:auto!important;height:550px;min-height:550px;">

            <div id="douApi"></div>
         <h1>欢迎来到网站后台管理中心</h1>


        </div>
    </div>
    <div class="clear"></div>

{include  file="public/footer"}


    <div class="clear"></div> </div>


</body>
</html>