
    <div id="dcHead">
        <div id="head">
            <div class="logo"><a href="{:url('admin/index/index')}"><span id="my-index-span">网站管理后台</span></a></div>
            <div class="nav">
                <ul>
                    <li><a href="{:url('index/index/index')}" target="_blank">查看站点</a></li>
                </ul>
                <ul class="navRight">
                    <!--<li class="M noLeft">
                    <a href="JavaScript:void(0);">您好，{$Think.session.user}</a>
                    
                        <!--<div class="drop mUser">
                            <a href="#">编辑我的个人资料</a>
                            <a href="#">设置云账户</a>
                        </div>
                    </li>-->
                    <li class="noRight"><a href="#">您好，{$Think.session.user}</a></li>
                    <li class="noRight"><a href="{:url('admin/login/loginOut')}">退出</a></li>
                    
                </ul>
            </div>
        </div>
    </div>