
<!DOCTYPE html>
<html >
<head>
	<title>联系我们</title>
	<meta charset="utf-8" />
<!--ie兼容模式-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!--国产浏览器高速模式（only 360）-->
        <meta name="renderer" content="webkit" />
        
<!--页面公用的css将主要放这里-->
        <link href="__STATIC__/index/css/base.css" rel="stylesheet" type="text/css" />
<!--end 页面说明完毕-->
<link rel="shortcut icon" href="/favicon.ico" />
        <style type="text/css">
                 #lb_content h1,#lb_content h2,#lb_content h3,#lb_content h4,#lb_content h5,#lb_content h6{
        font-weight:bold;
        color:initial;
        font-size:initial;
        border:initial;
        font-family:initial;
        line-height:initial;
        }
                                          strong{
                font-weight: bold;
        }
                 em {
    font-style: italic;
}
        </style>

<body class="page_index">


{include file="public/head_login"}
<!--内容组-->
        <div class="content all-width-center page_contact_content1 " style="min-height:600px;">
            <div>
                <h1>联系我们</h1>
              <br />
              <h3 style="font-size: 30px;">【郑重声明】</h3>
              <br />
             <p style="font-size: 18px; text-indent: 41px;color: red;">
             	本网站不希望出现任何人利用本网站相关信息侵犯公司的合法权益，但并不保证不会发生
  此类行，如果发现有类似情况发生将依据相关法律采取必要的措施 ，对于因前述各类情形而产生的任何纠纷，
  将由权利受到侵害之人和侵权方依据有关法律通过适当的方式直接加以解决，本网站及其所有者不参与其中；
  对于因此类行为产生的各类纠纷之任何责任和后果，由相关责任方 承担，本网站及其所有者不承担任何责任及后果。
             </p>
            	<br />
            <p style="font-size: 18px; text-indent: 41px;color: red;">
             	任何非本网站责任而产生的任何其他纠纷，概由纠纷各方依据相关法律以适当的方式直接加以解决，本网站不
参与其中；对于因该类行为产生的各类纠纷之任何 责任和后果，由相关各方承担，本网站及其所有者不承担任
何责任及后果。本网站不存在任何代销行为！如非本人自愿购买，请一定要核对好信息再行购买！一旦交 易成
功恕不予退货！谢谢您的合作！！
             </p>
             
            <br />
            <p style="font-size: 18px; text-indent: 41px;color: red;">
             	我公司网站只销售网络游戏点卡和话费充值卡；不提供网络兼职、淘宝刷钻、手机话费、团购门票等业务，
请千万不要将订单的卡号密码告诉任何人！！警防上当受骗！！
             </p>
             
             
             
            </div>
        </div>
<!--页脚-->
{include file="public/footer"}
</body>
</html>
 