<div class="footer">
            <!--页尾的导航部分-->
        
<style type="text/css">
    #foot_dd a:hover {
        color:red;
        text-decoration:underline;
    }
</style>
   <!--页尾的导航部分-->
<div id="foot_dd" class="footer_nav all-width-center text-align-center">
<a href=""  target="_blank" >商城首页</a><label> | </label>
<a href="" target="_blank" >网游点卡</a><label> | </label>
<a href="" target="_blank" >联系我们</a><label> | </label>
<a href="" target="_blank" >常见问题</a><label> | </label>
<a href="" target="_blank" >关于我们</a><label> | </label>
<a href="" target="_blank" >隐私保护</a><label> | </label>
<a href="" target="_blank" >官网导航</a>
</div>
         <!-- <br><br>-->
            <!--页尾的认证部分-->
   <div class="footer_image all-width-center">
        <span><a href="http://www.cn-ecusc.org.cn/cert/aqkx/site/?site=www.ka39.com" target="_blank" rel="nofollow"><img src="__STATIC__/index/images/footer_08.jpg" alt="可信网站" title="可信网站" /></a></span>
        <span><a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank" rel="nofollow"><img src="__STATIC__/index/images/footer_09.jpg" alt="经营性网站备案信息" title="经营性网站备案信息" /></a></span>
        <span><a href="http://ka39.oss-cn-hangzhou.aliyuncs.com//images/3.png" target="_blank" rel="nofollow"><img src="__STATIC__/index/images/footer_10.jpg" alt="中网验证ICP备案" title="中网验证ICP备案" /></a></span>
        <span><a href="http://www.cn-ecusc.org.cn/cert/aqkx/site/?site=www.ka39.com" target="_blank" rel="nofollow"><img src="__STATIC__/index/images/footer_11.png" alt="可信网站" title="可信网站" /></a></span>
        <span><a  key ="58368eb9efbfb014cd569a85"  logo_size="124x47"  logo_type="realname"  href="http://www.anquan.org" rel="nofollow">
        </span>
    </div>
            <!--版权等等-->
<div class="footer_copyright all-width-center">
 <address class="text-align-center">
 <p>人人数卡提供的都是虚拟产品，在产品无误的情况下，不提供退换货服务！姓名和订单号码可用于订单查询，商品信息通过电子邮箱发货。请正确填写购买信息！</p>
<p><b>川网文:</b>【2016】0997-032号 &nbsp;&nbsp;&nbsp;&nbsp;
<a href="" target="_blank" rel="nofollow"><b>蜀ICP:</b>备16003142号-7</a></p>  
<p>2014-2016 © 四川游谷科技有限公司版权所有</p> 
</address>
           </div>
</div>
 
 